$activeColor: #27ae60;
$darkenColor: darken($activeColor, 20%);

body {
  background-color: #082e2d;
}

.container {
  width: 100%;
  max-width: 100%;
}

.map__upper {
  background-color: #137271;
  height: calc(80vw * (9 / 16));
}

.map__lower {
  background-color: #082e2d;
  transform: translateY(-15%);
}

.svg-map {
  width: 80vw;
}

svg {
  .land-boundary {
    fill: #082e2d;
  }

  .focus-boundary {
    fill-opacity: 0.66;
  }

  .country-boundary {
    fill: none;
    stroke-opacity: 0.33;
    stroke: #f3efec;
    stroke-width: 0.2;
  }
}

.table {
  width: 100%;
  thead th {
    border-color: rgba(255, 255, 255, 0.1);
    color: #9a9a9a;
  }
  td {
    border-bottom: rgba(255, 255, 255, 0.1) 1px solid;
    color: #f3efec;
  }
}

/*

.map__filter {
  position: fixed;
  top: -300px;
  left: 0;
  right: 0;
  height: 300px;
  padding: 50px 30px;
  transition: all 0.3s ease-in;
  text-align: center;
  box-sizing: border-box;
  background-color: #082e2d;
  color: #fff;
  z-index: 10;
}

.map__filter ul {
  margin-top: 30px;
}

.map.open .map__filter {
  top: 0;
}

.map__wrapper {
  transition: all 0.3s ease-in;
}

.map.open .map__wrapper {
  margin-top: 300px;
}


*/

.filter {
  .heading {
    color: #eee;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 20px 0 0 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px #000;
  }

  li{
    list-style: none;
  }
}

.switch {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
  &:after {
    content: "OFF";
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }
  &:before {
    content: "ON";
    color: $activeColor;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  input[type="checkbox"] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }
}
